@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    background-color: #333;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

@media (max-width: 950px) {
    body{
        background-color: #494949;
    }
}