.contactPage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 50px;
    color: #D9D9D9;
    max-width: 1450px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.contactPage svg{
    font-size: 75px;
}
.leftSection, .rightSection{
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 1;
}
.rightSection{
    flex-direction: row-reverse;
    text-align: right;
}
.info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.info > h3{
    font-size: 20px;
    margin: 0;
}
.midSection{
    background-color: #D9D9D9;
    color: #000;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 75px 50px 25px;;
    max-width: 300px;
    border-radius: 40px;
}
.midSection .twoIcons{
    display: flex;
    justify-content: space-between;
}
.midSection .threeIcons{
    display: flex;
    justify-content: space-around;
    margin: 50px 0 20px;
}

@media (max-width: 950px) {
    .contactPage{
        flex-direction: column;
        padding: 50px 20px 20px;
    }
    .midSection{
        order: 1;
    }
    .rightSection{
        flex-direction: row;
        text-align: left;
    }
}
@media (max-width: 500px) {
    .contactPage svg{
        font-size: 45px;
    }
    .info > h3{
        font-size: 15px;
    }
}