.eventsPage{
    max-height: calc(100vh - 175px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}
.eventsPage > h2{
    font-size: 22px;
    text-align: center;
    color: #72B7E3;
}

.events{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-height: calc(100vh - 450px);
    overflow-y: scroll;
}
.events .eventBox{
    background-color: #D9D9D9;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    box-sizing: border-box;
    border-radius: 25px;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
}
.events .eventBox h2,
.events .eventBox h3,
.events .eventBox p{
    margin: 0;
}
.events .eventBox .date{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #72B7E3;
}
.events .eventBox .date > h2{
    font-size: 35px;
}
.events .eventBox .title{
    flex: 1;
    font-size: 24px;
}
.events .eventBox input{
    background-color: #72B7E3;
    color: #494949;
    font-size: 25px;
    font-weight: 700;
    padding: 10px 30px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}