.eventsPage{
    max-height: calc(100vh - 175px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}
.eventsPage > h2{
    font-size: 22px;
    text-align: center;
    color: #72B7E3;
}

.events{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-height: calc(100vh - 450px);
    overflow-y: scroll;
}

@media (max-width: 950px) {
    .eventsPage{
        max-height: calc(100vh - 120px);
        gap: 20px;
    }
    .events{
        max-height: none;
    }
}
@media (max-width: 650px) {
    .eventsPage > h2{
        font-size: 18px;
    }
    .events{
        gap: 20px;
    }
}