.rootPage{
    max-height: calc(100vh - 175px);
    height: 100vh;
}
.flexbox{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: calc(50% - 175px);
    transform: translateY(-50%);
    flex-wrap: wrap;
    gap: 20px;
}
.flexbox > span{
    flex: 1;
}
.flexbox > h2{
    flex: 2;
    text-align: center;
    font-size: 34px;
    font-family: Inter;
}
.flexbox > .imgBox{
    flex: 1;
}
.flexbox > .imgBox > img{
    width: 250px;
}