.pageContent{
    background-color: #494949;
    color: #fff;
    min-height: calc(100vh - 50px);
    width: 100%;
}
.pageContent > h1.pageTitle{
    margin: 20px;
    font-size: 40px;
    text-align: center;
    position: relative;
}
.pageContent > h1.pageTitle::after{
    content: "";
    position: absolute;
    background-color: #fff;
    width: 75px;
    height: 4px;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 950px) {
    .pageComponent{
        display: flex;
    }
    .pageContent {
        min-height: 100vh;
        margin-left: 60px;
    }
}